---
layout: default
---
<!-- blog -->
<section id="blog" class="two">
    <div class="container">

        <header>
            <h2>Blog</h2>
        </header>

        <p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
            egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
            Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
            fusce hendrerit lacus ridiculus.</p>

        <div class="row">
            {% for post in site.posts %}
            <div class="4u 12u">
                <article class="item">
                    {% if post.hero %}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="image fit"><img src='{{ post.hero | prepend: site.baseurl }}' alt="" /></a>
                    {% endif %}
                    <header>
                        <h5><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
                    </header>
                    <p>
                        {{ post.excerpt | strip_html }}
                    </p>
                    <footer>
                        <small>{{ site.data.authors[post.author].name }} on <em>{{ post.date | date: "%b %-d, %Y" }}</em></small>
                    </footer>
                </article>
            </div>
            {% endfor %}
        </div>

    </div>
</section>