<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas>
            <div class="row column">
                <br>
                <img class="thumbnail" src="http://placehold.it/550x350">
                <h5>Mike Mikerson</h5>
                <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus
                    lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-toggle="my-info" aria-expanded="false"
                            aria-controls="my-info"></button>
                    <span class="title-bar-title">Jason Corns | jasoncorns.com</span>
                </div>
            </div>
            {{ content }}
            <footer class="site-footer">

                <div class="wrapper">

                    <h2 class="footer-heading">{{ site.title }}</h2>

                    <div class="footer-col-wrapper">
                        <div class="footer-col footer-col-1">
                            <ul class="contact-list">
                                <li>{{ site.title }}</li>
                                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                            </ul>
                        </div>
                        <div class="footer-col footer-col-2">
                            <ul class="social-media-list">
                                {% if site.github_username %}
                                <li>
                                    {% include icon-github.html username=site.github_username %}
                                </li>
                                {% endif %}

                                {% if site.twitter_username %}
                                <li>
                                    {% include icon-twitter.html username=site.twitter_username %}
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="footer-col footer-col-3">
                            <p>{{ site.description }}</p>
                        </div>
                    </div>
                </div>


                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
            </footer>
        </div>
    </div>
</div>
{% include footer.html %}
</body>

</html>
